.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 1rem;
}

.errorNotice {
  margin-block-start: 1rem;
}
