.filtersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 100%;
    gap: 16px;
}

.inputContainer {
    inline-size: 200px;
    transition: inline-size 0.3s ease;
}

.inputContainer:focus-within {
    inline-size: 300px;
}

.filtersGroup {
    display: flex;
    align-items: center;
    gap: 12px;
}

.singleSelectContainer {
    min-inline-size: 200px;
}

.singleSelectContainer [data-test="dhis2-uicore-singleselect-clear"] {
    margin-inline-start: var(--spacers-dp4);
}

.singleSelectMenuItem {
    inline-size: 100%;
    text-overflow: ellipsis;
} 