.predictionMapGroup {
    display: flex;
    flex-direction: row;
    gap: 15px;
    inline-size: 100%;
    flex-wrap: wrap;
}

.predictionMapCard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    block-size: 320px;
    min-inline-size: 200px;
}
