.chartContainer {
    display: flex;
    max-block-size: 60vh;
}

.chart {
    inline-size: 80%;
    block-size: 100%;
}

.menu {
    inline-size: 20%;
    overflow-y: auto;
    max-block-size: 100%;
}
