.buttonContainer {
    display: flex;
    margin-block-end: var(--spacers-dp16);
}

.leftSection {
    flex: 1;
    display: flex;
    gap: var(--spacers-dp8);
    align-items: center;
}

.inputContainer {
    width: 200px;
    transition: width 0.3s ease;
}

.inputContainer:focus-within {
    width: 300px;
}

.featuresCell {
    display: inline-flex;
    align-items: center;
    gap: var(--spacers-dp8);
}

.infoIcon {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(--colors-grey600);
}

.infoIcon:hover {
    color: var(--colors-grey900);
}

