.inputContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    inline-size: 200px;
    transition: inline-size 0.3s ease;
}

.inputContainer:focus-within {
    inline-size: 300px;
}

.singleSelectContainer {
    min-inline-size: 200px;
}
