.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacers-dp16);
    margin-block-end: var(--spacers-dp16);
}

.leftSection {
    flex: 1;
    display: flex;
}

.covariates {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacers-dp4);
}
