.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.errorContainer {
    padding: 16px;
}

.container {
    margin: 16px 0;
}

.backButton {
    margin-bottom: 20px;
}
