.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
}

.backButton {
  margin-block-end: 20px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formWrapper label {
  margin-block-end: 0.5rem;
}

.formField {
  margin-block-start: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 1rem;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.errorContainer {
  margin-block: 1rem;
}
