.container {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title {
    font-size: 20px;
    line-height: 24px;
    color: #212934;
    margin: 0;
    margin-block-start: 24px;
    font-weight: 500;
}

.text {
    color: #404b5a;
    font-size: 14px;
    text-align: center;
    margin-block-end: 20px;
}

.link {
    color: #404b5a;
    font-size: 14px;
    text-decoration: underline;
}

.actions {
    display: flex;
    gap: 8px;
}
