.card {
    margin-top: 20px;
}

.container {
    display: flex;
    max-height: 60vh;
    gap: 10px;
}

.tabBar {
    margin-bottom: 10px;
    margin-left: 20%;
}

.content {
    width: 80%;
    height: 100%;
}

.menu {
    width: 20%;
    overflow-y: auto;
    max-height: 100%;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.errorContainer {
    margin-top: 16px;
}

