.buttonContainer {
    display: flex;
    margin-block-end: var(--spacers-dp16);
}

.leftSection {
    flex: 1;
    display: flex;
    gap: var(--spacers-dp8);
    align-items: center;
}

.rightSection {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacers-dp4);
}

.inputContainer {
    inline-size: 200px;
    transition: width 0.3s ease;
}

.inputContainer:focus-within {
    inline-size: 300px;
}

.singleSelectContainer {
    min-inline-size: 200px;
}

/* This feels wrong, but it works */
.singleSelectContainer [data-test="dhis2-uicore-singleselect-clear"] {
    margin-inline-start: var(--spacers-dp4);
}

.singleSelectMenuItem {
    inline-size: 100%;
    text-overflow: ellipsis;
    margin-inline-end: var(--spacers-dp8);
}

.headerWithTooltip {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp4);
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationsCell {
    display: inline-flex;
    align-items: center;
    gap: var(--spacers-dp8);
}

.infoIcon {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(--colors-grey600);
}

.infoIcon:hover {
    color: var(--colors-grey900);
}
