.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 16px;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 8px;
}
