.inputContainer {
    inline-size: 200px;
    transition: width 0.3s ease;
}

.inputContainer:focus-within {
    inline-size: 300px;
}

.singleSelectContainer {
    min-inline-size: 250px;
}

/* This feels wrong, but it works */
.singleSelectContainer [data-test="dhis2-uicore-singleselect-clear"] {
    margin-inline-start: var(--spacers-dp4);
}

.singleSelectMenuItem {
    inline-size: 100%;
    text-overflow: ellipsis;
} 