.mappingItem {
    margin-block-end: 1rem;
}

.mappingItem:last-child {
    margin-block-end: 0;
}

.featureDescription {
    margin: 0.5rem 0 0 0;
    font-size: 0.875rem;
    color: #6b7280;
    font-style: italic;
} 