.wrapper {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    padding: 6px;
    gap: var(--spacers-dp8);
}

.sliderContainer {
    padding-inline: var(--spacers-dp8);
}

.labelsContainer {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
    font-size: 12px;
    color: #666;
}

.label {
    text-align: center;
}

.selectedLabelContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacers-dp4);
}

.selectedLabel {
    position: absolute;
    text-align: center;
    inline-size: 100%;
}

.track {
    block-size: 6px;
    inline-size: 100%;
    background-color: var(--colors-grey400);
}

.thumb {
    inline-size: 54px;
    block-size: 54px;
    outline: none;
}

.thumb svg {
    inline-size: 100%;
    block-size: auto;
    fill: var(--colors-blue600);
}

.mark {
    background-color: var(--colors-grey500);
    block-size: 10px;
    inline-size: 2px;
}
