.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 1rem;
}

.formWrapper label {
  margin-block-end: 0.5rem;
}

