.container {
    block-size: 100%;
    display: flex;
    flex-direction: column;
}

.orgUnitTreeWrapper {
    block-size: 382px;
    flex-grow: 1;
    overflow: auto;
}

.orgUnitTreeWrapper > * {
    flex-grow: 1;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.disabled > * {
    pointer-events: none;
}

.userOrgUnitsWrapper {
    display: flex;
    background: #f4f6f8;
    padding: 8px 8px 8px 24px;
    margin-block-end: 12px;
}

.userOrgUnitsWrapper > * {
    margin-inline-end: 48px;
}

.selectsWrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-block-start: 12px;
}

.selectsWrapper.hidden {
    display: none;
}

.selectsWrapper > * {
    inline-size: 50%;
}

.summaryWrapper {
    display: inline-flex;
    align-items: center;
    margin-block-start: 8px;
}

.warningWrapper {
    display: inline-flex;
    align-items: center;
}

.warningText {
    margin-inline-start: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #d32f2f;
}

.summaryText {
    font-size: 14px;
    line-height: 18px;
    color: #494949;
}

.deselectButton {
    display: inline-block;
    margin-inline-start: 8px;
} 