@value m-medium: (min-width: 768px);

:global a {
    color: initial;
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-areas: 'sidebar' 'main' 'footer';
    font-size: 14px;
    block-size: 100%;
    background: var(--sidenav-dark-bg);
    grid-template-rows: auto 1fr;
    overflow: auto;
}

.main {
    grid-area: main;
    background-color: var(--colors-grey200);
    inline-size: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar.hide {
    inline-size: 0px !important;
    block-size: 0px;
    visibility: hidden;
}

.pageTitle {
    font-size: 28px;
    color: var(--colors-grey900);
    line-height: 40px;
    padding-block-end: 8px;
}

.footer {
    grid-area: footer;
    padding: 0;
    background: var(--colors-white);
    inline-size: 100%;
    z-index: 1;
}

@media m-medium {
    .wrapper {
        block-size: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 'sidebar main' 'sidebar footer';
        grid-template-rows: 1fr max-content;
    }
    .sidebar {
        inline-size: 240px;
        overflow-y: auto;
    }
    .main {
        overflow-y: auto;
    }
}
