.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-block-end: var(--spacers-dp16);
}

.leftSection {
    display: flex;
    align-items: center;
}

.rightSection {
    display: flex;
    align-items: center;
}
