.inputContainer {
    margin-inline-end: var(--spacers-dp8);
    inline-size: 200px;
    transition: width 0.3s ease;
}

.inputContainer:focus-within {
    inline-size: 300px;
}

.singleSelectContainer {
    margin-inline-end: var(--spacers-dp8);
    inline-size: 200px;
}

.singleSelectMenuItem {
    max-inline-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
